.btn{
    text-transform: uppercase;
    background-color: orange;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 7px;
    border: none;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f6f4; 
    min-height: 88vh;
    height: auto;
}

.description{
    color: orange;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-right: 10px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

.text{
    letter-spacing: 0.5px;
    padding: 0px; 
    margin: 0px;
    /* border: 1px solid; */
}

.steps{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}

.list{
    letter-spacing: 0.5px;
    padding: 0px; 
    margin: 0px;
    text-transform: capitalize;
}

.img{
    margin-right: 30px;
}

.name{
    /* color: orange; */
    letter-spacing: 1px;
}

.rightInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: flex-start;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}