.input{
    width: 400px;
    height: 40px;
    background-color: #f3f5f8;
    font-size: 14px;
    padding: 0 20px;
    border: none;
    letter-spacing: 0.5px;
    margin-right: 20px;
    border-left: 3px solid #1c8314;
}

.btn{
    display: inline-block;
    width: 100px;
    height: 40px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #40ba37;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
}

.btn:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
}

.btn:hover:before {
  width: 100%;
}