body{
    padding: 0px;
    margin: 0px;
}

.fondo{
    background-color: #e9eef2;
    height: 100vh;
    background-image: url('./assets/fondo1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.titulo{
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 50px;
    margin-left: 20%;
}

.btn{
    letter-spacing: 1.5px; 
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #40ba37;
    margin-left: 30%;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

.btn:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
}

.btn:hover:before {
  width: 100%;
}

.flex{
    position: absolute;
    top: 50%;
    left: 40px;
    width: 450px;
    height: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    border-left: 3px solid #40ba37;
    margin-left: 40px;
    background-color: rgba(24, 24, 24, 0.54);
}
