.title{
    /* background-color: #f4f6f4; */
    background-color: orange;
    border-bottom: 1px solid orange; 
    /* color: orange; */
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 15px;
    text-transform: uppercase;
}