.title{
    background-color: #f4f6f4; 
    border-bottom: 3px solid #1c8314;
    color: #1c8314;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 15px;
    
}