.title{
    background-color: #40ba37;
    border-bottom: 3px solid #1c8314;
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 15px;
    text-transform: uppercase;
}