.paginado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f6f4;
    /* background-color: white; */
}

.lista{
    list-style: none;
}

.btn{
    margin: 10px;
    border: 1px solid orange;
    background-color: white;
    padding: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}

nav{
    background-color: #f4f6f4;
}