.paginado{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lista{
    list-style: none;
}

.btn{
    margin: 10px;
    border: 1px solid #1c8314;
    /* background-color: #40ba37; */
    background-color: #f4f6f4;
    padding: 5px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #1c8314;
    cursor: pointer;
}

.btn:focus{
    background-color: #40ba37;
    color: white;
}