.recipe{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-between;
    /* border: 1px solid #40ba37;  */
    margin: 20px;
    padding: 0 15px;
    width: 350px;
    height: 440px;
    background-color: #f4f6f4;
} 

.content{
    position: absolute;
    top: 50%;
    left: 40px;
    width: auto;
    height: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}

.score{
    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
    color: #9b9b9b;
    background-color: #f4f6f4;
    font-weight: bold;
}

.image{
    border-bottom: 3px solid #40ba37;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    margin-top: 20px;
}

.name{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    transition-duration: 500ms;
    color: #474747;
    font-weight: 600;
    text-align: center;
}

.diets{
    text-transform: capitalize;
    font-size: 12px;
    display: block;
    color: #9b9b9b;
}

.btn{
    text-transform: uppercase;
    background-color: #40ba37;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 7px;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-bottom: 20px; 
}