.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
}

.btn{
    display: inline-block;
    width: auto;
    height: 40px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #40ba37;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
    margin-left: 30px;
}

.btnReset{
    display: inline-block;
    width: auto;
    height: 40px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #40ba37;
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
    margin-right: 30px;
}

.btn:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
}

.btn:hover:before {
  width: 100%;
}

.btnReset:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
}

.btnReset:hover:before {
  width: 100%;
}